# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog

#vehicles
ensure 15chargerrb
ensure 14chgr
ensure 14chgr2
ensure 14tahoe
ensure 18charger
ensure 20tahoe
ensure NForce-Pack
ensure ram
ensure 11cvpi
ensure 16fpiu	
ensure 18charger	
ensure 18tahoe
ensure glad20
ensure SoundOff Pack 1.2.2 - FiveM Ready
ensure policebike

#map addons
ensure OCRPRacetrack
ensure OCRPRacetrack_Models
ensure patoche_sandyfree
ensure ssfd
ensure flywheel
ensure patochepaleto
ensure RRC
ensure sandy_upgrade
ensure Click-It-Or-Ticket-Billboards
ensure 68roundabout-1.2

#gameplay plugins
ensure lux_vehcontrol
ensure wk_brakelights
ensure wk_wrs
ensure map
ensure PvP
ensure frfuel
ensure SEM_InteractionMenu-1.7
ensure fax-revive
ensure vMenu
ensure vSync 
ensure RealAITraffic
ensure weapons-on-back
ensure heli

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 1

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-US" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://cdn.discordapp.com/attachments/715270648490098889/854159254919708712/lq50n6xy0io61.png"
sets banner_connecting "https://cdn.discordapp.com/attachments/715270648490098889/854159254919708712/lq50n6xy0io61.png"

# Set your server's hostname
sv_hostname "Pizza Hat FiveM | PizzaHat.net | discord.gg/pizzahat | RP "

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon PizzaHatFiveM.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 "#"

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# enable OneSync (required for server-side state awareness)
set onesync false
onesync off
onesync_population false

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "6EB0522EC430EDED8E6370E3B10D3181"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "rn9mh3671gzddhj9gv94a9dki7tze3yl"